:root {
    --main-white: #F0F0F0;
    --main-red: #EF6C33;
    --main-blue: #ABDFF1;
    --main-gray: #0C4A60;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }

    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }

    .project-section-header {
        font-size: 4rem;
    }

    .contact-section-header>h2 {
        font-size: 4rem;
    }

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: var(--main-blue);
}


#profile-pic {
    max-width: 20%;
    height: auto;
    border-radius: 50%;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-white);
    padding: 10px 20vw;
}

.welcome-section>h1 {
    color: var(--main-red);
}

.welcome-section>p {
    line-height: 1.75;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    font-style: italic;
    color: var(--main-gray);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.bold {
    font-weight: 900;
    color: var(--main-red);
}

#particles-js{
    width: 100%;
    height: 800px;
    background-color: var(--main-white);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}


.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-gray);
    color: var(--main-gray);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6px;
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.project-icon {
    margin: 50px;
    color: var(--main-white);
    font-size: 45px;
    padding: 30px;
    border-radius: 50%;
    border-color: var(--main-white);
    border-width: 2px;
    border: solid;
}

.fas {
    display: inline-block;
    font-weight: lighter;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.project-tile {
    font-size: 40px;
    width: 100%;
    height: fit-content;
    align-items: center;
    color: var(--main-white);
    display: block;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 30rem;
    background: var(--main-gray);
}

.contact-section-header>h2 {
    font-size: 6rem;
}

.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

footer {
    font-weight: 300;
    display: block;
    justify-content: center;
    padding: 4rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    text-align: center;

}

.note {
    font-size: 1em;
}